---
import { Image } from "astro:assets";

import Container from "./Container.astro";

import imgClients01 from "../../public/clients/01.svg";
import imgClients02 from "../../public/clients/02.svg";
import imgClients03 from "../../public/clients/03.svg";
import imgClients04 from "../../public/clients/04.svg";
import imgClients05 from "../../public/clients/05.svg";
import imgClients06 from "../../public/clients/06.svg";
---

<Container>
  <div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <Image
          src={imgClients01}
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <Image
          src={imgClients02}
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <Image
          src={imgClients03}
          class="h-9 w-auto m-auto"
          loading="lazy"
          alt="client logo"
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <Image
          src={imgClients04}
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <Image
          src={imgClients05}
          class="h-8 w-auto m-auto"
          loading="lazy"
          alt="client logo"
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <Image
          src={imgClients06}
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
        />
      </div>
    </div>
  </div>
</Container>
