---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allEmployees = await getCollection("employees");

import Container from "./Container.astro";
import Subtitle from "./Subtitle.astro";

import imgTeamLng from "../../public/team/lng.svg";
const orderedEmployees = allEmployees.sort((a, b) => a.data.order - b.data.order);

const IMG_CLASSES =
  "h-[102.82px] w-[102.82px] rounded-3xl filter grayscale hover:grayscale-0";
---

<Container>
  <Subtitle
    subtitle="Team"
    description="Meet the skilled and experienced team behind our successful digital marketing strategies."
  />

  <div class="flex-row items-center py-5" id="team">
    <div
      class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-4 h-fit-content"
    >
      {
        orderedEmployees.map(
          ({ data: { title, description, name, link, profile } }) => (
            <div class="px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex text-black w-full">
              <div class="flex-col justify-start items-start gap-7 flex w-full overflow-ellipsis overflow-hidden">
                <div class="left-0 top-0 relative sm:hidden md:hidden lg:block xl:hidden">
                  <Image src={profile} alt={name} class={IMG_CLASSES} />
                </div>
                <div class="w-full justify-between items-center inline-flex relative">
                  <div class="grow shrink basis-0 justify-start items-center gap-8 flex">
                    <div class="h-[102.82px] left-0 top-0 relative lg:hidden xl:block">
                      <Image src={profile} alt={name} class={IMG_CLASSES} />
                    </div>
                    <div class="flex-col justify-end items-start inline-flex">
                      <div class="text-lg font-normal">{title}</div>
                      <div class="text-xl font-medium">{name}</div>
                    </div>
                  </div>
                  {/* <a class="top-0 right-0" href={link}>
                    <Image src={imgTeamLng} alt="linkedIn logo" />
                  </a> */}
                </div>
                <hr class="w-full border border-black" />
                <p class="text-sm md:text-lg">{description}</p>
              </div>
            </div>
          ),
        )
      }
    </div>
  </div>
  <!-- <div class="w-full justify-center md:justify-end items-center inline-flex">
    <button
      class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7"
      >See all team
    </button>
  </div> -->
</Container>
