---
// @ts-ignore
import { Visor as Head, type Author } from "@binz/visor";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import siteFaviconSvg from "../../public/Logo.svg";

const author: Author = {
  name: "Trianglish",
  twitterHandle: "@trianglish_",
};

const canonicalURL = Astro.url;
const description =
  "The organic growth social media experts for your business.";
const defaultKeywords = ["Trianglish", "Social Media", "Organic Growth"];
const keywords: string[] = [];
const siteName = "Trianglish";
const siteLocale = "en_GB";
const siteTwitterHandle = "@trianglish_";
const socialImagePath = "/Hero.svg";
const socialImageAltText = "A loudhailer surrounded by social media icons.";
const siteThemeColour = "#B9FF66";
const title =
  "Trianglish - The organic growth social media experts for your business | trianglish.com";
---

<!doctype html>
<html lang="en">
  <Head
    {author}
    {canonicalURL}
    {description}
    {defaultKeywords}
    {keywords}
    {siteName}
    {siteFaviconSvg}
    {siteLocale}
    {siteTwitterHandle}
    {socialImagePath}
    {socialImageAltText}
    {siteThemeColour}
    {title}

  >
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
      type="text/css"
    />
  </Head>

  <body class="bg-white font-SpaceGrotesk space-y-20 flex h-screen flex-col">
    <Navbar />
    <slot />
    <Footer />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>
